<!DOCTYPE html>
<html ng-app="lyricalApp">
<head>
  <title>THE BEST ADOPTION BLOG EVER!!!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/angular.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/app.AccountCreateCtrl.js"></script>
</head>
<body>


<div ng-view>

</div>

<footer>

</footer>

